@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


article {
    width: 85%;
    float: right;
}

.mid-content {
    margin-top: 20px;
    width: 85%;

}

.img-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-aside {
    float: right;
    padding-right: 60px;
}

.aside-content {
    padding-bottom: 37px;
    border: 1px solid #6967671a;
    padding-right: 150px;
    font-size: 15px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    width: 13rem;
    margin-right: 55px;
}

.first-content>h2 {
    background-color: #FDF1EB;
    width: 163.5%;
    padding: 9px;
    font-size: 30px;
}

.first-content>p {
    width: 300px;
    padding: 5px;
    padding-left: 5px;
}


.second-content {
    padding-bottom: 15px;
}

.second-content>p, h3 {
    padding: 5.5px;
}

.third-content {
    font-family: 'Quicksand', sans-serif;
}

.third-content>p{
    padding: 5px;
    padding-left: 5px;
}

.inside-content {
    color: white;
    line-height: 35px;
    padding-top: 50px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-left: 50px;
}

.inside-image {
    border-radius: 50px;
}

.inside-data,
.inside-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    padding-left: 110px;
}


.mid-content>h2 {
    color: #ED7839;
}


.video-overlay {
    width: 65%;
}

.figure-overlay {
    width: 1051px;
    height: 590px;
    background-image: url(../assets/vídeo\ overlay.png);
    position: absolute;
    border-radius: 5px;
}

.face-img {
    position: absolute;
    background-image: url(../assets/face.png);
    border: 1px solid #ED7839;
    width: 95px;
    height: 95px;
    background-size: cover;
    border-radius: 50px;
}

.name,
.name-education {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 110px;
    padding-top: 10px;
    font-weight: 900;
    font-size: 35px;
    
}


.center {
    padding-top: 250px;
    padding-left: 50px;
}

.resumo-article {
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
}

.resumo {
    color: #4E4E4E;
    border-radius: 3px;
    border: 1px solid #69676763;
    width: 97%;
    padding: 10px;
}

.resumo-article h2 {
    padding-top: 2500px;
}

.resumo>p {
    font-family: 'Quicksand', sans-serif;
}

.color {
    color: #ED7839;
}