@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

footer {
    width: 85%;
    float: right;
    position: relative;
    padding-top: 25px;
}

.discussion {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    padding-top: 10px;
    padding: 10px;
}

.bottom-content {
    border: 1px solid #69676762;
    width: 98.3%;
    border-radius: 3px;
}

.share-ideas {
    font-family: 'Robot', sans-serif;
    text-align: center;
    align-items: center;
    color: #ED7839;
}

.discussion-h3 {
    text-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #595959;
}

.btn-topic {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: white;
    width: 133px;
    height: 40px;
    border: none;
    margin-top: 15px;
    margin-left: 43.5%;
    border: 1px solid #6967671c;
}

.fa-plus {
    color: white;
    padding: 5px;
}

.discussion-content>h2 {
    color: #ED7839;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
}

.discussion-content>h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
}

.discussion-content>p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
}


.discussion-content {
    padding-top: 24px;
    border: 1px solid #6967671c;
    padding: 15px;
    width: 96.35%;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 0.8%;
    -webkit-box-shadow: 10px 0px 23px -5px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
}