@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section {
    background: #FDF1EB;
    width: 87%;
    float: right;
}

.top-content {
    font-family: 'Roboto', sans-serif;
    color: #725C5C;
    float: left;
    padding-left: 2%;
}

.align {
    padding-top: 20px;
    padding-right: 70px;
}

.min {
    width: 2.5%;
    border-radius: 25px;
    float: right;

}

.notificaiton {
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #F85959;
    border-radius: 10px;
    width: 18px;
    float: right;
}

.notification-right {
    display: inline-block;
    float: right;
    position: absolute;
    padding-left: 855px;
}

.content {
    margin-bottom: 5px;
    padding-left: 10px;
    width: 20%;
    float: right;
}

.first-p {
    padding-top: 4px;
    width: 30%;
    float: right;
}

.email {
    padding-top: 20px;
    padding-left: 100px;
}

.content p {
    font-family: 'Quicksand', sans-serif;
    size: 14px;
    color: #333333;
}